@media (max-width: 768px) {
    body {
        flex-direction: column; 
    }
    aside {
        width: 100%;
        height: auto;
        position: relative;
    }
    article {
        width: 100%;
    }
    #productos-destacados {
        justify-content: center;
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    article {
        width: calc(50% - 20px);
    }
}